<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/chatStyle.css">
  <script defer src="js/validator.js"></script>
  <script defer src="/js/modal.js"></script>

  <title>Student project</title>
</head>
<body>
  <header class="main-header">
    <div class="container">
        <div class="row align-items-start">
    <div class="col">
      <a href="/"><img src="img/Logo.png" alt="Logo" width="170" class="main-header-logo"> </a>
      <p class="slogan">Помогаем учиться!</p>
    </div>
    <div class="col">
      <b style="vertical-align: center;">Работаем для Вас каждый день</b>
    </div>
    <div class="col">
      <a href="#address"><p>Санкт-Петербург, наб. канала Грибоедова, 20/1</p></a>
      <a class="main-header-link" href="tel:88123070000">8 (812) 307-00-00</a><br>
      <a class="main-header-link" href="mailto:info@take5.ru">info@take5.ru</a>
    </div>
  </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Сделать заказ</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">О компании</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Гарантии</a>
        </li>
        {{#if name}}
        <li class="nav-item">
          <a class="nav-link active" href="/files/af11ad78a4d4e8a6c1cdb64d2c946420.txt" download>Скачать txt</a>
        </li>
        {{/if}}
      </ul>

        {{#if name}}
          <div class="dropdown">
          <button id="dLabel" class="btn btn-outline-secondary dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="false">Личный кабинет</button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a class="dropdown-item" href="/profile?mydata={{name}}" id='mydata'>Мои данные</a></li>
              <li><a class="dropdown-item" href="/profile?myorders={{name}}" id='myorders'>Мои заказы</a></li>
              <li><a class="dropdown-item" href="/profile?successorder={{name}}" id='successorder'>Готовые работы</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout" id='logout'>Выйти</a></li>
            </ul>
          </div>
        {{else}}
        <button class="btn btn-outline-success" type="button" id="getModal">Войти</button>
        {{/if}}
        {{#if admin}}
          <a class="btn btn-outline-success">Админ</a>
        {{/if}}
    </div>
  </div>
 
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма авторизации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 
        <form id="formLogin">
          <div class="mb-3">
            <label for="inputEmail1" class="form-label">Электронная почта:</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text" id='subMessageEmail'>We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1" class="form-label">Пароль:</label>
            <input type="password" class="form-control" id="inputPassword1">
             <div id="emailHelp" class="form-text" id='subMessagePassword'>We'll never share your password with anyone else.</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="login">Войти</button>
          </div>
        </form>
        <span>или <a href="#" data-bs-dismiss="modal" id="registrationModal">Зарегистрироваться</a></span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма регистрации</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody"> 

        <form id="formLogin2">

          <div class="mb-3">
            <label for="inputUsernameRegistr" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsernameRegistr" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputEmail1Registr" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail1Registr" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputEmail1Registr" class="form-label">Phone</label>
            <input type="email" class="form-control" id="inputEmail1Registr" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your phone with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="inputPassword1Registr" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword1Registr">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button form="formLogin" class="btn btn-primary" type="submit" id="registration">Зарегистрироваться</button>
          </div>
        </form>
        <span>Есть аккаунт? <a href="#" data-bs-dismiss="modal" id="getModal2">Войти</a></span>
      </div>
    </div>
  </div>
</div>

{{#if name}}


<a href="javascript:void(0)" class="chatemplate" onclick="this.nextElementSibling.style.display='block';"></a>
<div id="parent_popup_click1" class="parent_popup_click">
<div class="popup_click"> 
<!-- начало HTML-кода для вставки чата на сайт -->
<div class="showChat">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

  <div class="chat-container">
    <div class="chat-header">
      <div class="logo">
        <i class="far fa-comments"></i>
        <h3>Messenger</h3>
      </div>
    </div>

    <div class="chat-section">
      <div class="main-wrapper">
        <div class="chat-content">
          <div class="message">
            <div class="message-row other-message">
            </div>
            <div class="message-row you-message">
            </div>
          </div>
        </div>
        <form class="msg-tex">
          <input type="text" name="msg" id="msg" placeholder="Type Message here..." autocapitalize="off">
          <button id="btn-send">
            <i class="fas fa-paper-plane sendBtn">Send</i>
          </button>
        </form>
      </div>
    </div>
  </div>

  <script defer src="/js/socket.js"></script>
{{!-- pop-up chat --}}

  {{!-- <script src="/socket.io/socket.io.js"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</div>
<!-- конец HTML-кода для вставки чата на сайт -->  
<a class="close" title="Закрыть" onclick="document.getElementById('parent_popup_click1').style.display='none';"></a>
</div>
</div><!--/ всплывающее окно с виджетом чата chatemplate -->
{{/if}}

<div class="container">
  {{{body}}}
</div>

</div>
    <footer class="main-footer">
      <div class="container">
        <div class="main-footer-wrapper">
          <div class="main-footer-column">
            <a class="main-footer-logo">
              <img src="img/Logo.png" width="130" alt="Логотип" class="footer-logo">
            </a>
            <a class="main-footer-link" href="tel:88123070000">8 (812) 307-00-00</a>
            <a class="main-footer-link" href="mailto:info@take5.ru">info@take5.ru</a>
          </div>
          <dl class="links">
            <div>
              <dt>О компании</dt>
              <dd>
                <ul class="link-list">
                  <li>
                    <a class="main-footer-link" href="#">Наш офис</a>
                  </li>
                  <li>
                    <a class="main-footer-link" href="#">Вакансии</a>
                  </li>
                  <li>
                    <a class="main-footer-link" href="#">Сертификаты</a>
                  </li>
                  <li>
                    <a class="main-footer-link" href="#">Отзывы</a>
                  </li>
                </ul>
              </dd>
            </div>
            <div>
              <dt>Заказчикам</dt>
              <dd>
              <ul class="link-list">
                <li>
                  <a class="main-footer-link" href="#">Каталог уже готовых работ</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">Как заказать?</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">FAQ</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">Постоянным клиентам</a>
                </li>
              </ul>
              </dd>
            </div>
            <div>
              <dt>Оплата и сроки</dt>
              <dd>
              <ul class="link-list">
                <li>
                  <a class="main-footer-link" href="#">Способы оплаты</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">Время выполнения заказа</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">Гарантии</a>
                </li>
                <li>
                  <a class="main-footer-link" href="#">Возврат и компенсация</a>
                </li>
              </ul>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </footer>
</html>
