<script defer src="js/profile.js"></script>
  <br></br>
<h1 id='hello'>Здравствуйте, {{name}}</h1>
  <br></br>
<div class="row">
<div class='col-sm-3 col-md-2 col-xs-12'>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/profile?mydata=2">Мои данные</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile?myorders={{name}}">Мои заказы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile?successorder={{name}}">Готовые работы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile?neworder=1" tabindex="-1" aria-disabled="true">Заказать работу</a>
    </li>
  </ul>
  </div>
  {{#if mydata}}
<div class='col-sm-9 col-md-10 col-xs-12'>
  <div class="mb-3 row">
    <label for="userName" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="userName" value="{{name}}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="userEmail" class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="userEmail" value="{{email}}">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="userPhone" class="col-sm-2 col-form-label">Phone:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="userPhone" value="{{name.phone}}">
    </div>
  </div>
      <button type="button" class="btn btn-primary" id="save">Сохранить изменения</button>
      <button type="button" class="btn btn-danger" id="deleteProfile">Удалить профиль</button>
      <br></br>
      <div class="alert alert-primary invisible" id='submessage' role="alert">
      </div>
    <div class="mb-3 row">
    <h3>Изменить пароль:</h3>
     <div class="mb-3">
        <label for="pas" class="form-label">Cтарый пароль:</label>
        <input type="password" class="form-control" id="pas" aria-describedby="usernameHelp">
      </div>
      <div class="mb-3">
        <label for="newPas" class="form-label">Новый пароль:</label>
        <input type="password" class="form-control" id="newPas" aria-describedby="usernameHelp">
      </div>
      <div class="mb-3">
        <label for="newPasRepeat" class="form-label">Повторите новый пароль:</label>
        <input type="password" class="form-control" id="newPasRepeat" aria-describedby="emailHelp">
        <div class="form-text" id="for-new-password">We'll never share your password with anyone else.</div>
      </div>
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" id="savePassword">Сохранить</button>
      </div>
              <br></br>
        <div class="alert alert-primary invisible" id='submessage2' role="alert">
      </div>
    </div>
  </div>

{{/if}}

{{#if neworder}}
<div class='col-sm-9 col-md-10 col-xs-12 order-box'>
  <div class="order-form">
    <form method="POST" action="/upload" enctype="multipart/form-data" name="newOrder">
    <div class="top-order-form">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-sm-8">
              <label for="inputType" class="label-order">Тип работы</label>
              <select id="inputType" class="form-select" name ="type">
                <option selected="" disabled="disabled">Выберите тип работы</option>
                <option value="type0">Диплом</option>
                <option value="type1">Курсовая</option>
                <option value="type2">Реферат</option>
              </select>
            </div>
            <div class="col-sm-4">
              <label for="inputPages" class="label-order">Кол-во страниц</label>
              <input class="form-control" id="inputPages" name="pages" type="text" min="1">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="row">
            <div class="col-sm-4">
              <label for="inputDeadline" class="label-order">Срок сдачи</label>
              <input type="text" id="inputDeadline" name="deadline" class="form-control" value="09.09.2021">
            </div>
            <div class="col-sm-4">
              <label for="inputSources" class="label-order">Кол-во источников</label>
              <input id="inputSources" name="sources" min="1" class="form-control" type="text">
            </div>
            <div class="col-sm-4">
              <label class="checkbox-order label-order">
                  <input class="default" type="checkbox" id="foreign_sources" name="foreign_sources" value="1">
                  <span class="check-label">Иностранные источники</span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-9 col-xs-12">
            <div class="row">
                <div class="col-sm-4">
                  <label for="inputOriginality" class="label-order">Оригинальность</label>
                  <select id="inputOriginality" class="form-select" name ="originality">
                    <option selected value="orig0">Неважно</option>
                    <option value="orig1">21%-30%</option>
                    <option value="orig2">31%-40%</option>
                    <option value="orig3">41%-50%</option>
                    <option value="orig4">51%-60%</option>
                    <option value="orig5">61%-70%</option>
                    <option value="orig6">71%-80%</option>
                    <option value="orig7">81%-90%</option>
                    <option value="orig8">91%-100%</option>
                  </select>
                </div>
                <div class="col-sm-8">
                      <label for="inputPlagiat" class="label-order">Проверка</label>
                      <select id="inputPlagiat" class="form-select" name ="plagiat">
                        <option value="plag0">Проверка по eTXT</option>
                        <option selected value="plag1">Проверка по antiplagiat.ru</option>
                        <option value="plag2">Антиплагиат ВУЗ</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-3 col-xs-12 co_provider_wrap">
          <label class="checkbox-order label-order">
            <input type="checkbox" id="plagi_report" name="plagi_report" value="1">
            <span class="check-label">Отчёт о плагиате</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="subject" class="label-order">Предмет</label>
          <input class="form-control" id="subject" name="subject" type="text" value="" autocomplete="off">
        </div>
        <div class="col-md-6 col-xs-12">
          <label for="topic "class="label-order">Тема</label>
          <input id="topic" name="topic" class="form-control" type="text" value="" style="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="inputFont" class="label-order">Шрифт</label>
          <select id="inputFont" class="form-select" name ="font">
            <option selected value="font0">14 шрифт, полуторный интервал</option>
            <option value="font1">12 шрифт, полуторный интервал</option>
            <option value="font2">14 шрифт, одинарный интервал</option>
            <option value="font2">12 шрифт, одинарный интервал</option>
          </select>
        </div>
        <div class="col-md-6 col-xs-12">
          <label for="university" class="label-order">Вуз(необязательно)</label>
          <input class="form-control" id="university" name="university" type="text" value="">
        </div>
      </div>


      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="inputAuthor" class="label-order">Квалификация автора</label>
          <select id="inputAuthor" class="form-select" name="author">
              <option selected value="author0">Лучший доступный автор (стандартная цена)</option>
              <option value="author1">Топ-автор с высокой средней оценкой</option>
              <option value="author2">Кандидат наук</option>
              <option value="author3">Доктор наук</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <label for="requirements" class="label-order">Требования(необязательно)</label>
          <textarea id="requirements" name="inputReq" class="form-control" cols="30" rows="3"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="file-choose-block">
            <p style="font-size: 14px">Вы можете прикрепить до 5 файлов размером не более 10Мб</p>
              <div class="file">
                  <input id="inputFile" name="file" type="file">
              </div>
          </div>
        </div>
      </div>
    </div>

      <div class="counter-order-form top-b">
        <div class="row justify-content-center">
          <div class="col-md-6 col-xs-12 d-flex flex-column align-items-center">
            <h2>Расчёт стоимости работы</h2>
            <ul class="calc">
              <li>
                <span>Минимальная стоимость</span>
                <span>1,000.00 р.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="counter-order-form top-b">
        <div class="row justify-content-center">
          <div class="col-md-6 col-xs-12 m-auto d-flex flex-column align-items-center">
            <div class="total-cost">
              <span class="">Итого</span>
              <span class="">= 1,000.00 р.</span>
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="order-btn">Заказать</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{{/if}}
